@charset "UTF-8";
/*
Theme Name: NGF 2017
Theme URI: http://yhei-web-design.com
Author: Yohei Kokubo
Author URI: https://twitter.com/yhei_hei
Description: For Nagoya Classic Guitar Festival web site.
Version: 1.0
Tags: guitar, nagoya, japan, web site
Text Domain: guitar-fes.nagoya
*/
html {
  font-size: 62.5%;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
}

p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
}

strong {
  font-weight: 600;
}

img {
  display: block;
}

hr {
  border-top: solid 1px black;
  border-bottom: 0;
  margin: 0;
  padding: 0;
}

.sep {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0px 0px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gray;
}

b {
  font-weight: bold;
}

/*
 Share Button
*********************************************/
/* SNSごとの背景色 */
#twitter {
  background-color: #00acee;
}

#pocket {
  background-color: #EE4056;
}

#facebook {
  background-color: #3b5998;
}

#ggl-plus {
  background-color: #dd4b39;
}

#hatena {
  background-color: #2D4C86;
}

/* ボタン設定 */
.button-area {
  width: 100%;
  margin: 10px 0 30px 0;
}
.button-area p {
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 16px;
}

.button-area:after {
  content: '';
  clear: both;
  display: block;
}

.button-area-title {
  font-weight: 700;
  margin: 0 0 8px;
  text-align: center;
}

.title-fill {
  display: block;
  background-color: #444;
  color: #fff;
  font-size: 14px;
  width: 100%;
  padding: 6px 15px;
  box-sizing: border-box;
}

.button-whole {
  float: left;
  width: 33%;
  margin: 0 0% 0 0.3%;
  box-sizing: border-box;
}

.button-link {
  display: block;
  text-align: center;
  color: #fff !important;
  font-size: 14px !important;
  padding: 10px 0 !important;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
}

.button-link:hover {
  text-decoration: none !important;
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  opacity: 0.70;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  background: -moz-linear-gradient(180deg, #D4495B, #841923);
  background: -webkit-linear-gradient(180deg, #D4495B, #841923);
  background: linear-gradient(180deg, #d4495b, #841923);
}

body.ngf2017 {
  background: #fae053;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .wrap {
    padding: 0 48px;
  }
}
@media (max-width: 768px) {
  .wrap {
    padding: 0 16px;
  }
}

.prev p, .next p {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Cormorant Garamond", serif;
}

.next {
  float: right;
}

header {
  position: fixed;
  /* ヘッダーの固定 */
  top: 0px;
  /* 位置(上0px) */
  left: 0px;
  /* 位置(右0px) */
  width: 100%;
  /* 横幅100%　*/
  height: 95px;
  z-index: 100;
  background-color: #ffe23f;
  -moz-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
@media (max-width: 425px) {
  header {
    height: 80px;
  }
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  float: right;
  width: 32px;
  height: 24px;
  margin-top: 34px;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  -webkit-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
@media (max-width: 425px) {
  .menu-trigger {
    margin-top: 28px;
  }
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

#menu {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif, Meiryo, "メイリオ", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3";
  margin: 0 auto;
}
#menu small {
  font-size: 14px;
  font-size: 1.4rem;
}
#menu .left_side {
  float: left;
  height: 95px;
}
@media (max-width: 425px) {
  #menu .left_side {
    height: 80px;
    display: none;
  }
}
#menu .right_side {
  transform: scale(-1, 1);
  float: right;
  height: 95px;
}
@media (max-width: 425px) {
  #menu .right_side {
    height: 80px;
    display: none;
  }
}
#menu .logo {
  float: left;
  margin-top: 16px;
  width: 164px;
}
@media (max-width: 425px) {
  #menu .logo {
    margin-top: 10px;
  }
}
#menu .logo img {
  float: left;
  -moz-transition: padding-top 0.3s ease-out;
  -o-transition: padding-top 0.3s ease-out;
  -webkit-transition: padding-top 0.3s ease-out;
  transition: padding-top 0.3s ease-out;
  width: 139px;
}
@media (max-width: 425px) {
  #menu .logo img {
    width: 80%;
  }
}
#menu .menu_right {
  float: right;
}
#menu .share {
  margin-bottom: 8px;
}
@media (max-width: 461px) {
  #menu .share {
    display: none;
  }
}
#menu .share ul.share_ul {
  float: right;
  padding-top: 24px;
}
#menu .share ul.share_ul li {
  font-size: 20px;
  font-size: 2rem;
  display: inline-block;
  margin-left: 17px;
}
#menu .pc_navi ul.pc_navi_ul {
  -moz-transition: padding-top 0.3s ease-out;
  -o-transition: padding-top 0.3s ease-out;
  -webkit-transition: padding-top 0.3s ease-out;
  transition: padding-top 0.3s ease-out;
  float: right;
}
@media (max-width: 1009px) {
  #menu .pc_navi ul.pc_navi_ul {
    display: none;
  }
}
#menu .pc_navi ul.pc_navi_ul li {
  display: inline-block;
  margin-left: 8px;
}
#menu .menu-trigger {
  display: none;
}
@media (max-width: 1009px) {
  #menu .menu-trigger {
    display: initial;
  }
}
#menu ul.sp_navi_ul {
  display: none;
  padding-top: 18px;
  -moz-transition: padding-top 0.3s ease-out;
  -o-transition: padding-top 0.3s ease-out;
  -webkit-transition: padding-top 0.3s ease-out;
  transition: padding-top 0.3s ease-out;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  float: right;
}
#menu ul.sp_navi_ul li {
  list-style: none;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px 8px;
}
#menu a {
  text-decoration: none;
  color: black;
  display: block;
}

#cover {
  height: 560px;
  margin-top: 95px;
  background-color: gray;
  overflow: hidden;
  position: relative;
}
@media (max-width: 425px) {
  #cover {
    margin-top: 80px;
  }
}
@media (max-width: 759px) {
  #cover {
    height: 280px;
    background-image: url("img/cover.png");
    background-size: cover;
  }
}
#cover img {
  position: absolute;
  width: 100px;
  right: 20%;
  bottom: 5%;
}
#cover #player {
  width: 100%;
  height: 640px;
}
@media (max-width: 759px) {
  #cover #player {
    display: none;
  }
}

#cover.archive {
  height: 120px;
  padding: 0;
  /*
  height : 240px;
  @media (max-width: 960px) {
    height: 120px;
    padding: 168px 0 0 0;
  }
  #catch_copy {
    h2 {
      @media (max-width: 960px) {
        @include fontsize(20);
      }  
    }
  }
  */
}

.coverinfo {
  position: absolute;
  top: 34%;
  left: 15%;
  color: white;
}
.coverinfo h2 {
  font-size: 60px;
  font-size: 6rem;
  font-weight: bold;
  font: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  margin-bottom: 2rem;
}
.coverinfo p {
  font-size: 40px;
  font-size: 4rem;
}
.coverinfo p.right {
  text-align: right;
}
.coverinfo a {
  color: white;
  text-decoration: underline;
  font-size: 20px;
  font-size: 2rem;
}
.coverinfo a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .coverinfo {
    top: 30%;
    left: 3%;
  }
  .coverinfo h2 {
    font-size: 32px;
    font-size: 3.2rem;
  }
  .coverinfo p {
    font-size: 20px;
    font-size: 2rem;
  }
}

main {
  font-size: 13px;
  font-size: 1.3rem;
}
main .white_back {
  background-color: white;
  max-width: 1008px;
  margin: 0 auto;
}
main .devider {
  height: 8px;
}
main h1 {
  font-size: 40px;
  font-size: 4rem;
  margin-bottom: 32px;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
}
main h2 {
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 24px;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
}
main h3 {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  margin-bottom: 16px;
}
main .owl-carousel {
  background-color: white;
}
main .owl-theme .owl-nav.disabled + .owl-dots {
  display: none;
}
main .topic {
  height: 212px;
  background-color: black;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
main .topic:hover {
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
main .topic img {
  opacity: 0.6;
  width: 100%;
  position: absolute;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
main .topic img:hover {
  opacity: 1.0;
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
main .topic div.empty {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  opacity: 0.6;
  position: absolute;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
main .topic div.empty:hover {
  opacity: 1.0;
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
main .topic a {
  color: white;
}
main .topic h2 {
  position: absolute;
  padding: 0 32px;
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 36px auto 0 auto;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", Helvetica, Arial, serif;
  line-height: 1.2;
  text-shadow: 1px 1px 1px dimgray;
  color: white;
}
main #about {
  padding-top: 40px;
  margin-bottom: 48px;
}
main #about .card {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 24px 20px;
  background: -moz-linear-gradient(top left, #D4495B, #841923);
  background: -webkit-linear-gradient(top left, #D4495B, #841923);
  background: linear-gradient(to bottom right, #d4495b, #841923);
}
@media (max-width: 425px) {
  main #about .card {
    padding: 24px 16px;
  }
}
main #about .card .title h1 {
  color: white;
  font-weight: bold;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  text-align: center;
  margin-bottom: 19px;
}
@media (max-width: 767px) {
  main #about .card .title h1 {
    text-align: left;
  }
}
@media (max-width: 710px) {
  main #about .card .title h1 {
    font-size: 32px;
    font-size: 3.2rem;
  }
}
@media (max-width: 425px) {
  main #about .card .title h1 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
main #about .card .title p {
  color: white;
  font-size: 30px;
  font-size: 3rem;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 19px;
}
@media (max-width: 767px) {
  main #about .card .title p {
    text-align: left;
  }
}
@media (max-width: 710px) {
  main #about .card .title p {
    font-size: 28px;
    font-size: 2.8rem;
  }
}
@media (max-width: 425px) {
  main #about .card .title p {
    font-size: 20px;
    font-size: 2rem;
  }
}
main #about .card .flex_container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
@media (max-width: 767px) {
  main #about .card .flex_container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
main #about .card .body {
  margin-top: 19px;
  padding: 14px 32px 20px 32px;
  background-color: white;
}
@media (max-width: 425px) {
  main #about .card .body {
    padding: 14px 16px 20px 16px;
  }
}
main #about .card .body .info {
  width: 70%;
}
@media (max-width: 767px) {
  main #about .card .body .info {
    width: 100%;
    margin-bottom: 24px;
  }
}
main #about .card .body .info .more {
  text-align: right;
}
main #about .card .body .info .more a {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  border-bottom: solid 1px black;
}
main #about .card .body .sign {
  width: 26%;
}
@media (max-width: 767px) {
  main #about .card .body .sign {
    width: 100%;
  }
}
main #about .card .body .sign p {
  text-align: right;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
}
main #about .card .body .sign img {
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  main #about .card .body .sign img {
    margin-left: auto;
    width: 200px;
  }
}
main #about .card .body h2 {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 0;
}
main #about .card .body h3 {
  font-size: 21px;
  font-size: 2.1rem;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", Helvetica, Arial, serif;
  margin: 16px 0;
}
main #about .card .body p {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
}
main #news_area {
  margin-bottom: 25px;
}
main #news_area h2 {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 0;
}
main #news_area .flex_container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  main #news_area .flex_container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
main #news_area #news {
  width: 48%;
}
@media (max-width: 768px) {
  main #news_area #news {
    width: 100%;
  }
}
main #news_area #topics {
  width: 48%;
}
@media (max-width: 768px) {
  main #news_area #topics {
    width: 100%;
  }
}
main #news_area ul {
  margin-top: 24px;
}
main #news_area ul li {
  font-size: 13px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  line-height: 1.2;
}
main #news_area ul li time {
  margin-right: 16px;
}
main #news_area ul li:last-child {
  margin-bottom: 17px;
}
main #news_area ul li a {
  text-decoration: none;
}
main #news_area .more {
  text-align: right;
}
main #news_area .more a {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  border-bottom: solid 1px black;
}
main #artists, main #artists_archive {
  margin-bottom: 20px;
}
main #artists h2, main #artists_archive h2 {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 0;
}
main #artists .ja, main #artists_archive .ja {
  margin-top: 6px;
  margin-bottom: 56px;
  font-size: 21px;
  font-size: 2.1rem;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", Helvetica, Arial, serif;
}
main #artists .flex_container, main #artists_archive .flex_container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 0em;
}
@media (max-width: 960px) {
  main #artists .flex_container, main #artists_archive .flex_container {
    justify-content: center;
  }
}
main #artists .artist, main #artists_archive .artist {
  width: 25%;
  margin-bottom: 64px;
}
@media (max-width: 960px) {
  main #artists .artist, main #artists_archive .artist {
    width: 240px;
    margin-bottom: 64px;
  }
}
main #artists .artist .catch, main #artists_archive .artist .catch {
  margin-bottom: 11px;
  position: relative;
  height: 284px;
}
main #artists .artist .catch .eyecatch, main #artists_archive .artist .catch .eyecatch {
  position: absolute;
  overflow: hidden;
}
main #artists .artist .catch .eyecatch img, main #artists_archive .artist .catch .eyecatch img {
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
main #artists .artist .catch .eyecatch img:hover, main #artists_archive .artist .catch .eyecatch img:hover {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
main #artists .artist .catch .catch_copy, main #artists_archive .artist .catch .catch_copy {
  position: absolute;
  top: -56px;
  left: 0;
  right: 0;
}
main #artists .artist .catch .catch_copy p, main #artists_archive .artist .catch .catch_copy p {
  line-height: 1;
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Tangerine", cursive;
  font-size: 54px;
  font-size: 5.4rem;
  font-weight: 700;
  color: #de9c31;
}
main #artists .artist h3, main #artists_archive .artist h3 {
  padding: 0 16px;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 4px;
}
main #artists .artist p, main #artists_archive .artist p {
  padding: 0 16px;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
}
main #artists .artist .bravo p, main #artists_archive .artist .bravo p {
  line-height: 0.9;
}
main #artists .artist .alex p, main #artists_archive .artist .alex p {
  line-height: 0.9;
}
main #artists .more, main #artists_archive .more {
  text-align: right;
}
main #artists .more a, main #artists_archive .more a {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  border-bottom: solid 1px black;
}
main #artists_archive {
  padding-top: 16px;
  overflow: hidden;
}
main #artists_archive h2 {
  text-transform: capitalize;
}
main #artists_archive .artist {
  margin-bottom: 72px;
}
main #post {
  padding-top: 16px;
}
main #post .wrap {
  max-width: 768px;
  margin: 0 auto;
}
main #post .eyecatch {
  margin-bottom: 16px;
}
main #post .eyecatch img {
  width: 100%;
  height: initial;
}
main #post h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  margin-bottom: 0;
  padding-bottom: 6px;
  line-height: 1.2;
}
main #post .ja {
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 21px;
  font-size: 2.1rem;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", Helvetica, Arial, serif;
}
main #post .contents {
  padding: 0 0 24px 0;
  line-height: 2.0;
  /* 配置位置 右 */
  /* 配置位置 左 */
  /* 配置位置 中央 */
}
main #post .contents p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.0;
  text-align: justify;
  text-justify: inter-ideograph;
  margin-bottom: 8px;
}
main #post .contents p a {
  color: gray;
}
main #post .contents li {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  list-style-type: disc;
  margin-left: 2rem;
}
main #post .contents h1, main #post .contents h2, main #post .contents h3, main #post .contents h4, main #post .contents h5 {
  line-height: 1.5;
}
main #post .contents h1, main #post .contents h2 {
  padding: 12px 0px;
  margin: 0 0 24px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
main #post .contents h3, main #post .contents h4, main #post .contents h5 {
  padding: 8px 0;
  margin: 0 0 16px 0;
  border-bottom: 1px solid black;
}
main #post .contents h1 {
  font-size: 32px;
  font-size: 3.2rem;
}
main #post .contents h2 {
  font-size: 28px;
  font-size: 2.8rem;
}
main #post .contents h3 {
  font-size: 24px;
  font-size: 2.4rem;
}
main #post .contents h4 {
  font-size: 20px;
  font-size: 2rem;
  display: inline-block;
}
main #post .contents h5 {
  font-size: 18px;
  font-size: 1.8rem;
  display: inline-block;
  border: none;
}
main #post .contents img {
  max-width: 100%;
  height: initial;
}
main #post .contents img.alignright {
  display: block;
  margin: 0 0 0 16px;
  float: right;
}
@media (max-width: 425px) {
  main #post .contents img.alignright {
    margin: 0 0 0 auto;
    float: initial;
  }
}
main #post .contents img.alignleft {
  display: block;
  margin: 0 16px 0 0;
  float: left;
}
@media (max-width: 425px) {
  main #post .contents img.alignleft {
    margin: 0 auto 0 0;
    float: initial;
  }
}
main #post .contents img.aligncenter {
  display: block;
  margin: 0 auto;
}
main #post .contents a {
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
}
main #performances, main #columun, main #archive {
  margin-bottom: 20px;
}
main #performances h2, main #columun h2, main #archive h2 {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 0;
}
main #performances .ja, main #columun .ja, main #archive .ja {
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 21px;
  font-size: 2.1rem;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", Helvetica, Arial, serif;
}
main #performances .flex_container, main #columun .flex_container, main #archive .flex_container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
main #performances .performance, main #columun .performance, main #archive .performance {
  width: 33%;
  margin-bottom: 24px;
}
@media (max-width: 960px) {
  main #performances .performance, main #columun .performance, main #archive .performance {
    width: 50%;
  }
}
@media (max-width: 672px) {
  main #performances .performance, main #columun .performance, main #archive .performance {
    width: 100%;
  }
}
main #performances .performance .eyecatch, main #columun .performance .eyecatch, main #archive .performance .eyecatch {
  margin-bottom: 11px;
  overflow: hidden;
}
main #performances .performance .eyecatch img, main #columun .performance .eyecatch img, main #archive .performance .eyecatch img {
  max-width: 100%;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
main #performances .performance .eyecatch img:hover, main #columun .performance .eyecatch img:hover, main #archive .performance .eyecatch img:hover {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
@media (max-width: 960px) {
  main #performances .performance .eyecatch img, main #columun .performance .eyecatch img, main #archive .performance .eyecatch img {
    width: 100%;
    height: initial;
  }
}
main #performances .performance h3, main #columun .performance h3, main #archive .performance h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 8px;
}
main #performances .performance .more, main #columun .performance .more, main #archive .performance .more {
  text-align: right;
}
main #performances .performance .more a, main #columun .performance .more a, main #archive .performance .more a {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  border-bottom: solid 1px black;
}
main #performances .more, main #columun .more, main #archive .more {
  text-align: right;
}
main #performances .more a, main #columun .more a, main #archive .more a {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  border-bottom: solid 1px black;
}
main #archive {
  padding-top: 16px;
  overflow: hidden;
}
main #archive h2 {
  text-transform: capitalize;
}
main #cv h2 {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 0;
}
main #cv .ja {
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 21px;
  font-size: 2.1rem;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", Helvetica, Arial, serif;
}
main #cv .flex_container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 955px) {
  main #cv .flex_container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
main #cv #ticket {
  width: 48%;
  padding-bottom: 85px;
}
@media (max-width: 955px) {
  main #cv #ticket {
    width: 100%;
  }
}
main #cv #ticket h3 {
  background-color: #eabd50;
  font-size: 12px;
  font-size: 1.2rem;
  color: white;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  padding: 3px 8px;
  margin-bottom: 11px;
}
main #cv #ticket p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 26.5/15;
  margin-bottom: 14px;
}
main #cv #ticket p b {
  font-weight: bold;
}
main #cv #ticket table {
  width: 100%;
  margin-bottom: 14px;
}
main #cv #ticket table th {
  padding-bottom: 2px;
  font-size: 9px;
  font-size: 0.9rem;
  border-bottom: 1px solid gray;
  text-align: left;
}
main #cv #ticket table .first {
  width: 56px;
}
@media (max-width: 425px) {
  main #cv #ticket table .first {
    width: 44px;
  }
}
main #cv #ticket table .second {
  width: 48px;
}
@media (max-width: 425px) {
  main #cv #ticket table .second {
    width: 38px;
  }
}
main #cv #ticket table td {
  font-size: 15px;
  font-size: 1.5rem;
  padding-top: 7px;
  text-align: left;
}
@media (max-width: 425px) {
  main #cv #ticket table td {
    font-size: 9px;
    font-size: 0.9rem;
  }
}
main #cv #ticket .set {
  border: solid 1px #decec0;
  margin-bottom: 9px;
}
@media (max-width: 493px) {
  main #cv #ticket .set {
    margin-bottom: 0;
  }
}
main #cv #ticket .set .title {
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  color: white;
  background-color: #946134;
  padding: 7px 16px;
  vertical-align: middle;
}
main #cv #ticket .set .price {
  display: inline-block;
  color: #946134;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 8px;
  vertical-align: middle;
}
main #cv #ticket .set .note {
  display: inline-block;
  font-size: 8px;
  font-size: 0.8rem;
  vertical-align: middle;
}
@media (max-width: 493px) {
  main #cv #ticket .set .note {
    display: none;
  }
}
main #cv #ticket .m_note {
  display: none;
}
@media (max-width: 493px) {
  main #cv #ticket .m_note {
    display: block;
    font-size: 9px;
    font-size: 0.9rem;
    margin-bottom: 9px;
    margin-top: 4px;
  }
}
main #cv #ticket p.note {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 20px;
}
main #cv #ticket .flex_container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}
main #cv #ticket .ticket_info {
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  width: 35%;
}
main #cv #ticket .ticket_info p {
  font-size: 13px;
  font-size: 1.3rem;
  margin-bottom: 0;
  line-height: 1.2;
}
main #cv #ticket .ticket_info p a {
  color: gray;
}
@media (max-width: 767px) {
  main #cv #ticket .ticket_info {
    width: 100%;
  }
}
main #cv #ticket .soji {
  width: 60%;
}
@media (max-width: 767px) {
  main #cv #ticket .soji {
    width: 100%;
  }
}
main #cv #ticket .soji p {
  font-size: 15px;
  font-size: 1.5rem;
}
main #cv #ticket .soji p.kyukan {
  margin-top: 8px;
  font-size: 12px;
  font-size: 1.2rem;
  color: red;
}
main #cv #ticket .ticket_info.middle {
  width: 50%;
}
@media (max-width: 767px) {
  main #cv #ticket .ticket_info.middle {
    width: 100%;
  }
}
main #cv #ticket .contact {
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  width: 65%;
}
@media (max-width: 767px) {
  main #cv #ticket .contact {
    width: 100%;
    margin-bottom: 8px;
  }
}
main #cv #ticket .contact p {
  font-size: 15px;
  font-size: 1.5rem;
  margin-bottom: 0;
  text-align: right;
}
@media (max-width: 767px) {
  main #cv #ticket .contact p {
    text-align: left;
  }
}
main #cv #ticket .contact .pcode {
  color: #946134;
}
main #cv #ticket .contact.soji {
  width: 40%;
}
@media (max-width: 767px) {
  main #cv #ticket .contact.soji {
    width: 100%;
  }
}
main #cv #ticket .contact.soji p {
  font-size: 18px;
  font-size: 1.8rem;
}
main #cv #ticket .contact.middle {
  width: 50%;
}
@media (max-width: 767px) {
  main #cv #ticket .contact.middle {
    width: 100%;
  }
}
main #cv #ticket li {
  border-bottom: solid 1px #eabd50;
  padding: 9px 0;
}
main #cv #ticket li:first-child {
  padding-top: 0;
  padding-bottom: 9px;
}
main #cv #access {
  width: 48%;
  padding-bottom: 48px;
}
@media (max-width: 955px) {
  main #cv #access {
    width: 100%;
  }
}
main #cv #access #google_map_area {
  width: 100%;
  height: 248px;
  margin-bottom: 16px;
}
main #cv #access p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 26.5/15;
}

footer.container {
  background-color: #fae053;
  padding-top: 13px;
}
footer.container .wrap .flex_container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer.container .wrap .logo {
  width: 30%;
}
footer.container .wrap .logo img {
  width: 146px;
}
footer.container .wrap .guide {
  width: 40%;
  font-size: 22px;
  font-size: 2.2rem;
}
footer.container .wrap .guide small {
  font-size: 13px;
  font-size: 1.3rem;
}
footer.container .wrap .guide ul.footer_navi_ul {
  float: right;
}
@media (max-width: 960px) {
  footer.container .wrap .guide ul.footer_navi_ul {
    display: none;
  }
}
footer.container .wrap .guide ul.footer_navi_ul li {
  display: inline-block;
  margin-left: 17px;
}
footer.container .wrap .guide ul.footer_navi_ul li a {
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  color: black;
}
footer.container .wrap .share {
  width: 30%;
}
footer.container .wrap .share ul.share_ul {
  float: right;
  padding-top: 24px;
}
footer.container .wrap .share ul.share_ul li {
  font-size: 20px;
  font-size: 2rem;
  display: inline-block;
  margin-left: 17px;
}
footer.container #copy {
  margin-top: 21px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 10px;
  font-size: 1rem;
}

.breadcrumbs {
  margin-top: 95px;
  padding-top: 16px;
  line-height: 1.2;
}
.breadcrumbs a {
  color: gray;
}
.breadcrumbs .wrap {
  max-width: 768px;
}
.breadcrumbs .wrap.archive {
  max-width: 960px;
}

/* 関連投稿レイアウト */
ul.related_post {
  list-style-type: none;
  list-style: none;
  margin-left: 0;
  margin-bottom: 40px;
}
ul.related_post li {
  margin-left: 0;
  margin-bottom: 4px;
}

.wp_rp_wrap h3.related_post_title {
  margin: 64px 0 16px 0 !important;
}

ul.related_post.wp_rp li {
  width: 23% !important;
  overflow: hidden;
}
@media (max-width: 669px) {
  ul.related_post.wp_rp li {
    width: 100% !important;
  }
}
ul.related_post.wp_rp li img {
  width: 100% !important;
  height: initial !important;
  max-width: initial !important;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
ul.related_post.wp_rp li img:hover {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
ul.related_post.wp_rp li a {
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  ul.related_post.wp_rp li a:nth-child(1) {
    float: initial !important;
  }
}

.wp_rp_title {
  font-size: 16px;
}

.catch-copy-text-small {
  font-size: 4.6rem !important;
}

.eyecatch {
  display: block;
  margin-bottom: 16px;
}

.eyecatch--full {
  width: 100%;
}

.post_contents {
  padding: 0 0 24px 0;
  line-height: 2.0;
  /* 配置位置 右 */
  /* 配置位置 左 */
  /* 配置位置 中央 */
}
.post_contents p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.0;
  text-align: justify;
  text-justify: inter-ideograph;
  margin-bottom: 8px;
}
.post_contents p a {
  color: gray;
}
.post_contents li {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  list-style-type: disc;
  margin-left: 2rem;
}
.post_contents h1, .post_contents h2, .post_contents h3, .post_contents h4, .post_contents h5 {
  line-height: 1.5;
}
.post_contents h1, .post_contents h2 {
  padding: 12px 0px;
  margin: 0 0 24px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.post_contents h3, .post_contents h4, .post_contents h5 {
  padding: 8px 0;
  margin: 0 0 16px 0;
  border-bottom: 1px solid black;
}
.post_contents h1 {
  font-size: 32px;
  font-size: 3.2rem;
}
.post_contents h2 {
  font-size: 28px;
  font-size: 2.8rem;
  margin-bottom: 16px !important;
}
.post_contents h3 {
  font-size: 24px;
  font-size: 2.4rem;
}
.post_contents h4 {
  font-size: 20px;
  font-size: 2rem;
  display: inline-block;
}
.post_contents h5 {
  font-size: 18px;
  font-size: 1.8rem;
  display: inline-block;
  border: none;
}
.post_contents img {
  max-width: 100%;
  height: initial;
}
.post_contents img.alignright {
  display: block;
  margin: 0 0 0 16px;
  float: right;
}
@media (max-width: 425px) {
  .post_contents img.alignright {
    margin: 0 0 0 auto;
    float: initial;
  }
}
.post_contents img.alignleft {
  display: block;
  margin: 0 16px 0 0;
  float: left;
}
@media (max-width: 425px) {
  .post_contents img.alignleft {
    margin: 0 auto 0 0;
    float: initial;
  }
}
.post_contents img.aligncenter {
  display: block;
  margin: 0 auto;
}
.post_contents a {
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
}

/*# sourceMappingURL=style.css.map */
