/*
Theme Name: NGF 2017
Theme URI: http://yhei-web-design.com
Author: Yohei Kokubo
Author URI: https://twitter.com/yhei_hei
Description: For Nagoya Classic Guitar Festival web site.
Version: 1.0
Tags: guitar, nagoya, japan, web site
Text Domain: guitar-fes.nagoya
*/

@charset "utf-8";
//
$default-text-shadow-color: white;
//$default-text-shadow-blur: 0px;
$default-text-shadow-v-offset: 4px;
$default-text-shadow-h-offset: 0px;

@import "compass";

$mincho : "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝",Helvetica, Arial, serif;
$gothic : 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;

$garamond : 'Cormorant Garamond', serif;
$tangerine : 'Tangerine', cursive;
$meiryo: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;

$back-color: #fae053;
$menu-main: #ffe23f;
$about-color: #fae053;

html {
  font-size: 62.5%;
  font-family: $meiryo;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

p {
  @include fontsize(14);
  line-height: 1.5;
  text-align: justify;
	text-justify: inter-ideograph;
}

strong {
  font-weight: 600;
}

img{
  display:block;
}

hr {
  border-top: solid 1px black;
  border-bottom: 0;
  margin: 0;
  padding: 0;
}

.sep {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0px 0px;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: lighten(black, 50%);
  }
}

b {
  font-weight: bold;
}

/*
 Share Button
*********************************************/
/* SNSごとの背景色 */
#twitter {
   background-color: #00acee;
}
#pocket {
   background-color: #EE4056;
}
#facebook {
   background-color: #3b5998;
}
#ggl-plus {
   background-color: #dd4b39;
}
#hatena {
   background-color: #2D4C86;
}

/* ボタン設定 */
.button-area {
   width: 100%;
   margin: 10px 0 30px 0;
   p {
     @include fontsize(24);
     margin-bottom: 16px;
   }
}
.button-area:after {
   content: '';
   clear: both;
   display: block;
}
.button-area-title {
   font-weight: 700;
   margin: 0 0 8px;
   text-align: center;
}
.title-fill {
   display: block;
   background-color: #444;
   color: #fff;
   font-size: 14px;
   width: 100%;
   padding: 6px 15px;
   box-sizing: border-box;
}
.button-whole {
   float: left;
   width: 33%;
   margin: 0 0% 0 0.3%;
   box-sizing: border-box;
}
.button-link {
   display: block;
   text-align: center;
   color: #fff !important;
   font-size: 14px !important;
   padding: 10px 0 !important;
   box-sizing: border-box;
   border-radius: 3px;
   text-decoration: none;
}
.button-link:hover {
   text-decoration: none !important;
   filter:alpha(opacity=70);
   -moz-opacity: 0.70;
   opacity: 0.70;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left; 
}

.clearfix:after {  
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;  
} 

.container {
  position: relative;
  width: 100%;
  //max-width: 1440px;
  margin: 0 auto;
  //padding: 0 20px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family : $gothic;
  // background-color: $back-color;
  background:-moz-linear-gradient(180deg, #D4495B, #841923);
  background:-webkit-linear-gradient(180deg, #D4495B, #841923);
  background:linear-gradient(180deg, #D4495B, #841923);

}
body.ngf2017 {
  background: $back-color;
}

.wrap {
  max-width:960px;
  margin: 0 auto;
  @media (max-width: 960px) {
    padding: 0 48px;
  }
  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

//ページネーション
.prev {
  //float: left;
  p {
    @include fontsize(28);
    font-family: $garamond;
    //border-bottom: solid 1px black;
    //line-height: 1.2;
  }
}
.next {
  @extend .prev;
  float: right;
}

header {
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  height: 95px;
  @media (max-width: 425px) {
    height: 80px;
  }
  z-index: 100;
  background-color: $menu-main;
  @include transition(height 0.3s ease-out);
  @include transition(background-color 0.3s ease-out);
}

.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}
.menu-trigger {
	position: relative;
	float: right;
	width: 32px;
	height: 24px;
	margin-top: 34px;
	@media (max-width: 425px) {
    margin-top:28px;
  }
	@include transition(margin-top 0.3s ease-out);
}
.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: black;
	border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
	top: 0;
}
.menu-trigger span:nth-of-type(2) {
	top: 10px;
}
.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

//menuタップ時の動作。消えてクロス
.menu-trigger.active span:nth-of-type(1) {
	-webkit-transform: translateY(10px) rotate(-315deg);
	transform: translateY(10px) rotate(-315deg);
}
.menu-trigger.active span:nth-of-type(2) {
	opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
	-webkit-transform: translateY(-10px) rotate(315deg);
	transform: translateY(-10px) rotate(315deg);
}

#menu {
  @include fontsize(20);
  font-family: $garamond, Meiryo, 'メイリオ', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3';
  //max-width:960px;
  margin: 0 auto;
  small {
    @include fontsize(14);
  }
  .left_side {
    float:left;
    height: 95px;
    @media (max-width: 425px) {
      height: 80px;
      display:none;
    }
  }
  .right_side {
    transform: scale(-1, 1);
    float:right;
    height: 95px;
    @media (max-width: 425px) {
      height: 80px;
      display:none;
    }
  }
  .logo {
    float: left;
    margin-top: 16px;
    @media (max-width: 425px) {
      margin-top: 10px;
    }
    width: 164px;
    img {
      float:left;
      //padding-top: 36px;
      @include transition(padding-top 0.3s ease-out);
      width: 139px;
      @media (max-width: 425px) {
        width: 80%;
      }
    }
  }
  
  .menu_right {
    float:right;
  }
  
  .share {
    margin-bottom: 8px;
    @media (max-width: 461px) {
      display:none;
    }
    ul.share_ul {
      float: right;
      padding-top: 24px;
      li {
        @include fontsize(20);
        display: inline-block;
        margin-left: 17px;
      }
    }
  }
  
  .pc_navi {
    //float: right;
    ul.pc_navi_ul {
      @media (max-width: 1009px) {
        display: none;
      }
      //padding-top: 20px;
      @include transition(padding-top 0.3s ease-out);
      float: right;
      li {
        display: inline-block;
        margin-left: 8px;
      }
    }
  }
  .menu-trigger {
    display: none;
    @media (max-width: 1009px) {
      display:initial;
    }
  }
  ul.sp_navi_ul {
    display: none;
    padding-top: 18px;
    @include transition(padding-top 0.3s ease-out);
    //background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    float: right;
    li {
      list-style: none;
      border-bottom: 1px solid black;
      margin: 0;
      padding:10px 8px;
    }
  }
  
  a {
    text-decoration: none;
    color: black;
    display:block;
  }
}

#cover {
  height : 560px;
  margin-top: 95px; //固定メニューの高さ分マージン
  background-color: gray;
  overflow: hidden;
  @media (max-width: 425px) {
    margin-top: 80px;
  }
  @media (max-width: 759px) {
    height: 280px;
    background-image: url("img/cover.png");
    background-size: cover;
  }
  
  position: relative;
  img {
    position: absolute;
    width: 100px;
    right: 20%;
    bottom: 5%;
  }
  #player {
    width: 100%;
    height: 640px;
    @media (max-width: 759px) {
      display:none;
    }
  }
}// #cover

#cover.archive {
  height : 120px;
  padding: 0;
  /*
  height : 240px;
  @media (max-width: 960px) {
    height: 120px;
    padding: 168px 0 0 0;
  }
  #catch_copy {
    h2 {
      @media (max-width: 960px) {
        @include fontsize(20);
      }  
    }
  }
  */
}

.coverinfo {
  position:absolute;
  top: 34%;
  left:15%;
  color: white;
  h2 {
    @include fontsize(60);
    font-weight:bold;
    font: $gothic;
    margin-bottom: 2rem;
  }
  p {
    @include fontsize(40);
  }
  
  p.right {
    text-align:right;
  }
  a {
    color:white;
    text-decoration: underline;
    @include fontsize(20);
    &:hover {
      opacity: 0.7;
    }
  }
  @media (max-width: 767px) {
    top:30%;
    left:3%;
    h2 {
      @include fontsize(32);
    }
    p {
      @include fontsize(20);
    }
  }
}

main {
  @include fontsize(13);
  
  .white_back {
    background-color: white;
    max-width:1008px;
    margin: 0 auto;
  }
  
  .devider {
    height: 8px;
  }
  
  h1 {
    @include fontsize(40);
    margin-bottom: 32px;
    font-family: $gothic;
  }
  
  h2 {
    @include fontsize(32);
    margin-bottom: 24px;
    font-family: $gothic;
  }
  
  h3 {
    @include fontsize(28);
    font-family: $gothic;
    margin-bottom: 16px;
    //margin-bottom: 4px;
  }
  
  .owl-carousel {
    background-color: white;
  }
  .owl-theme .owl-nav.disabled+.owl-dots {
    display:none;
  }
  .topic {
    height:212px;
    background-color: black;
    @include transition(transform 0.2s ease-out);
    &:hover {
      @include scale(1.05);
    }
    img {
      opacity: 0.6;
      width: 100%;
      position: absolute;
      @include transition(transform 0.2s ease-out);
      &:hover {
        opacity: 1.0;
        @include scale(1.05);
      }
    }
    div.empty {
      width:100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size:cover;
      opacity: 0.6;
      position:absolute;
      -moz-transition: -moz-transform 0.2s ease-out;
      -o-transition: -o-transform 0.2s ease-out;
      -webkit-transition: -webkit-transform 0.2s ease-out;
      transition: transform 0.2s ease-out;
      opacity: 0.6;
      position: absolute;
      @include transition(transform 0.2s ease-out);
      &:hover {
        opacity: 1.0;
        @include scale(1.05);
      }
    }
    a {
      color: white;
    }
    h2 {
      position: absolute;
      padding: 0 32px;
      text-align: justify;
    	text-justify: inter-ideograph;
      margin: 36px auto 0 auto;
      @include fontsize(16);
      font-family: $mincho;
      line-height:1.2;
      text-shadow: 1px 1px 1px dimgray;
      color: white;
    }
  }

  #about {
    padding-top: 40px;
    margin-bottom: 48px;
    .card {
      border-top: solid 1px black;
      border-bottom: solid 1px black;
      padding: 24px 20px;
      @media (max-width: 425px) {
        padding: 24px 16px;
      }
      // background-color: $back-color;
      background: -moz-linear-gradient(top left,  #D4495B, #841923); 
      background: -webkit-linear-gradient(top left, #D4495B, #841923); 
      background: linear-gradient(to bottom right, #D4495B, #841923);
      .title {
        h1 {
          color:white;
          font-weight: bold;
          font-family: $meiryo;
          text-align: center;
          margin-bottom: 19px;
          @media (max-width: 767px) {
            text-align: left;
          }
          @media (max-width: 710px) {
            @include fontsize(32);
          }
          @media (max-width: 425px) {
            @include fontsize(24);
          }
        }
        p {
          color:white;
          @include fontsize(30);
          font-family: $meiryo;
          font-weight: bold;
          text-align: center;
          margin-bottom: 19px;
          @media (max-width: 767px) {
            text-align: left;
          }
          @media (max-width: 710px) {
            @include fontsize(28);
          }
          @media (max-width: 425px) {
            @include fontsize(20);
          }
        }
      }
      
      .flex_container {
        //width: 100%;
        @include display-flex;
        justify-content: space-between;
        //justify-content: space-around;
        @include flex-direction(row);
        @media (max-width: 767px) {
          @include flex-direction(column);
        }
        @include flex-wrap(wrap);
        @include align-items(flex-end);
        //line-height: 0em; //これがないとなぜか下に数px空白ができる
      }
      
      .body {
        margin-top: 19px;
        padding: 14px 32px 20px 32px;
        @media (max-width: 425px) {
          padding: 14px 16px 20px 16px;
        }
        background-color: white;
        
        .info {
          //float:left;
          width: 70%;
          @media (max-width: 767px) {
            width:100%;
            margin-bottom: 24px;
          }
          .more {
            text-align:right;
            a {
              @include fontsize(28);
              font-family: $garamond;
              text-decoration: none;
              border-bottom: solid 1px black;
            }
          }
        }
        
        .sign {
          //float:left;
          width: 26%;
          @media (max-width: 767px) {
            width:100%;
          }
          p {
            text-align: right;
            @include fontsize(13);
            line-height: 20px;
          }
          img {
            margin-bottom: 8px;
            @media (max-width: 767px) {
              margin-left: auto;
              width: 200px;
            }
          }
        }
        
        h2 {
          @include fontsize(48);
          font-family: $garamond;
          margin-bottom: 0;
        }
        
        h3 {
          @include fontsize(21);
          font-family: $mincho;
          margin: 16px 0;
        }
        
        p {
          @include fontsize(13);
          line-height: 1.5;
        }
      }
    }
  } //#about
  
  #news_area {
    margin-bottom: 25px;
    h2 {
      @include fontsize(36);
      font-family: $garamond;
      margin-bottom: 0;
    }
    
    .flex_container {
      @include display-flex;
      justify-content: space-between;
      @include flex-direction(row);
      @media (max-width: 768px) {
        @include flex-direction(column);
      }
      @include flex-wrap(wrap);
    }
    
    #news {
      width: 48%;
      @media (max-width: 768px) {
        width:100%;
      }
    }
    
    #topics {
      width: 48%;
      @media (max-width: 768px) {
        width:100%;
      }
    }
    
    ul {
      margin-top: 24px;
      li {
        @include fontsize(13);
        margin-bottom: 10px;
        line-height: 1.2;
        time {
          //color: gray;
          margin-right: 16px;
        }
        &:last-child {
          margin-bottom: 17px;
        }
        a {
          text-decoration: none;
        }
      }
    }
    .more {
      text-align:right;
      a {
        @include fontsize(28);
        font-family: $garamond;
        text-decoration: none;
        border-bottom: solid 1px black;
      }
    }
  }
  #artists {
    margin-bottom: 20px;
    h2 {
      @include fontsize(48);
      font-family: $garamond;
      margin-bottom: 0;
    }
    .ja {
      margin-top: 6px;
      margin-bottom: 56px;
      @include fontsize(21);
      font-family: $mincho;
    }
    
    .flex_container {
      @include display-flex;
      justify-content: space-between;
      @media (max-width: 960px) {
        justify-content: center;
      }
      @include flex-direction(row);
      @include flex-wrap(wrap);
      //@include align-items(flex-end);
      line-height: 0em; //これがないとなぜか下に数px空白ができる
    }
    
    .artist {
      width: 25%;
      margin-bottom: 64px;
      @media (max-width: 960px) {
        width: 240px;
        margin-bottom:64px;
      }
      .catch {
        margin-bottom: 11px;
        position: relative;
        height: 284px;
        .eyecatch {
          position: absolute;
          overflow: hidden;
          img{
            @include transition(transform 0.2s ease-out);
            &:hover {
              @include scale(1.1);
            }
          }
        }
        .catch_copy {
          position: absolute;
          top: -56px;
          left: 0;
          right: 0;
          p {
            line-height:1;
            @include rotate(-6deg);
            text-align: center;
            margin: 0;
            padding: 0;
            font-family: $tangerine;
            @include fontsize(54);
            font-weight: 700;
            color: #de9c31;
          }
        }
      }
      h3 {
        padding: 0 16px;
        @include fontsize(18);
        font-family: $meiryo;
        line-height: 1.5;
        font-weight: bold;
        margin-bottom: 4px;
      }
      p {
        padding: 0 16px;
        @include fontsize(15);
        font-family: $meiryo;
      }
      
      .bravo {
        p {
          line-height: 0.9;
        }
      }
      
      .alex {
        p {
          line-height: 0.9;
        }
      }
    }
    
    .more {
      text-align:right;
      a {
        @include fontsize(28);
        font-family: $garamond;
        text-decoration: none;
        border-bottom: solid 1px black;
      }
    }
  }//#artistsz
  
  #artists_archive {
    //margin-top: 95px;
    padding-top: 16px;
    @media (max-width: 425px) {
      //margin-top: 80px;
    }
    h2 {
      text-transform: capitalize;
    }
    @extend #artists;
    .artist {
      margin-bottom: 72px;
    }
    overflow: hidden;
  }
  
  #post {
    //margin-top: 95px;
    @media (max-width: 425px) {
      //margin-top: 80px;
    }
    padding-top: 16px;
    .wrap {
      max-width: 768px;
      margin: 0 auto;
    }
    
    .eyecatch {
      img {
        width:100%;
        height: initial;
      }
      margin-bottom: 16px;
    }
    h1 {
      @include fontsize(32);
      font-family: $gothic;
      margin-bottom: 0;
      padding-bottom: 6px;
      line-height: 1.2;
    }
    .ja {
      margin-top: 6px;
      margin-bottom: 16px;
      @include fontsize(21);
      font-family: $mincho;
    }
    .contents {
      padding: 0 0 24px 0;
      line-height: 2.0;
      p {
        @include fontsize(18);
        line-height: 2.0;
        text-align: justify;
      	text-justify: inter-ideograph;
      	margin-bottom: 8px;
      	a {
            color: lighten(black, 50%);
      	}
      }
      li {
        @include fontsize(18);
        margin-bottom:1rem;
        list-style-type: disc;
        margin-left:2rem;
      }
      h1, h2, h3, h4, h5 {
        line-height: 1.5;
      }
      h1,h2 {
        padding: 12px 0px;
        margin: 0 0 24px 0;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
      }
      h3,h4,h5 {
        padding: 8px 0;
        margin: 0 0 16px 0;
        border-bottom: 1px solid black;
      }
      
      h1 {
        @include fontsize(32);
      }
      
      h2 {
        @include fontsize(28);
      }
      
      h3 {
        @include fontsize(24);
      }
      
      h4 {
        @include fontsize(20);
        display: inline-block;
      }
      
      h5 {
        @include fontsize(18);
        display: inline-block;
        border: none;
      }
      
      img {
        max-width: 100%;
        height: initial;
      }
      img.alignright { display: block; margin: 0 0 0 16px; float:right;
        @media (max-width: 425px) {
          margin: 0 0 0 auto;
          float:initial;
        }
      }/* 配置位置 右 */
      img.alignleft { display: block; margin: 0 16px 0 0; float:left;
        @media (max-width: 425px) {
          margin: 0 auto 0 0;
          float:initial;
        }
      }/* 配置位置 左 */
      img.aligncenter { display: block; margin: 0 auto;
        
      }/* 配置位置 中央 */

      a {
        white-space: pre;           /* CSS 2.0 */
        white-space: pre-wrap;      /* CSS 2.1 */
        white-space: pre-line;      /* CSS 3.0 */
        white-space: -pre-wrap;     /* Opera 4-6 */
        white-space: -o-pre-wrap;   /* Opera 7 */
        white-space: -moz-pre-wrap; /* Mozilla */
        white-space: -hp-pre-wrap;  /* HP Printers */
        word-wrap: break-word;      /* IE 5+ */
      }
      
    }
  }//#post
  
  #performances {
    margin-bottom: 20px;
    h2 {
      @include fontsize(48);
      font-family: $garamond;
      margin-bottom: 0;
    }
    .ja {
      margin-top: 6px;
      margin-bottom: 16px;
      @include fontsize(21);
      font-family: $mincho;
    }
    .flex_container {
      @include display-flex;
      justify-content: space-between;
      @include flex-direction(row);
      @include flex-wrap(wrap);
      //@include align-items(flex-end);
      //line-height: 0em; //これがないとなぜか下に数px空白ができる
    }
    .performance {
      width: 33%;
      @media (max-width: 960px) {
        width: 50%;
      }
      @media (max-width: 672px) {
        width: 100%;
      }
      margin-bottom: 24px;
      .eyecatch {
        margin-bottom: 11px;
        overflow:hidden;
        img{
          max-width: 100%;
          @include transition(transform 0.2s ease-out);
          &:hover {
            @include scale(1.1);
          }
          @media (max-width: 960px) {
            width: 100%;
            height:initial;
          }
        }
      }
      h3 {
        @include fontsize(18);
        font-family: $meiryo;
        line-height: 1.5;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .more {
        text-align:right;
        a {
          @include fontsize(28);
          font-family: $garamond;
          text-decoration: none;
          border-bottom: solid 1px black;
        }
      }
    }
    .more {
      text-align:right;
      a {
        @include fontsize(28);
        font-family: $garamond;
        text-decoration: none;
        border-bottom: solid 1px black;
      }
    }
  }//#performances
  
  #columun {
    @extend #performances;
  }
  
  #archive {
    @extend #performances;
    //margin-top: 95px;
    @media (max-width: 425px) {
      //margin-top: 80px;
    }
    padding-top: 16px;
    h2 {
      text-transform: capitalize;
    }
    overflow: hidden;
  }
  
  #cv {
    h2 {
      @include fontsize(48);
      font-family: $garamond;
      margin-bottom: 0;
    }
    .ja {
      margin-top: 6px;
      margin-bottom: 16px;
      @include fontsize(21);
      font-family: $mincho;
    }
    .flex_container {
      @include display-flex;
      justify-content: space-between;
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @media (max-width: 955px) {
        @include flex-direction(column);
      }
      //@include align-items(flex-end);
      //line-height: 0em; //これがないとなぜか下に数px空白ができる
    }
    
    #ticket {
      width: 48%;
      @media (max-width: 955px) {
        width: 100%;
      }
      padding-bottom: 85px;
      h3 {
        background-color: #eabd50;
        @include fontsize(12);
        color: white;
        font-family: $meiryo;
        padding: 3px 8px;
        margin-bottom: 11px;
      }
      p {
        b {
          font-weight: bold;
        }
        @include fontsize(15);
        line-height: 26.5/15;
        margin-bottom: 14px;
      }
      
      table {
        width: 100%;
        margin-bottom: 14px;
        th {
          padding-bottom: 2px;
          @include fontsize(9);
          border-bottom: 1px solid gray;
          text-align: left;
        }
        .first {
          width:56px;
          @media (max-width: 425px) {
            width: 44px;
          }
        }
        .second {
          width:48px;
          @media (max-width: 425px) {
            width: 38px;
          }
        }
        td {
          @include fontsize(15);
          padding-top:7px;
          text-align: left;
          @media (max-width: 425px) {
            @include fontsize(9);
          }
        }
      }
      
      .set {
        border: solid 1px #decec0;
        margin-bottom:9px;
        @media (max-width: 493px) {
          margin-bottom:0;
        }
        .title {
          display: inline-block;
          @include fontsize(13);
          color: white;
          background-color: #946134;
          padding: 7px 16px;
          vertical-align: middle;
        }
        .price {
          display: inline-block;
          color: #946134;
          @include fontsize(15);
          font-weight: bold;
          padding: 0 8px;
          vertical-align: middle;
        }
        .note {
          display: inline-block;
          @include fontsize(8);
          vertical-align: middle;
          @media (max-width: 493px) {
            display:none;
          }
        }
      }
      .m_note {
        display:none;
        @media (max-width: 493px) {
          display:block;
          @include fontsize(9);
          margin-bottom:9px;
          margin-top: 4px;
        }
      }
      
      p.note {
        @include fontsize(12);
        line-height: 20px;
      }
      
      .flex_container {
        //width: 100%;
        @include display-flex;
        justify-content: space-between;
        //justify-content: space-around;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(center);
        //line-height: 0em; //これがないとなぜか下に数px空白ができる
      }
      
      .ticket_info {
        font-family: $meiryo;
        width: 35%;
        p {
          @include fontsize(13);
          margin-bottom: 0;
          line-height: 1.2;
          a {
            color: lighten(black, 50%);
          }
        }
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      .soji {
        width: 60%;
        @media (max-width: 767px) {
          width: 100%;
        }
        p {
          @include fontsize(15);
        }
        p.kyukan {
          margin-top:8px;
          @include fontsize(12);
          color: red;
        }
      }
      .ticket_info.middle {
        width: 50%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      .contact {
        font-family: $meiryo;
        width: 65%;
        @media (max-width: 767px) {
          width: 100%;
          margin-bottom: 8px;
        }
        p{
          @include fontsize(15);
          margin-bottom: 0;
          text-align: right;
          @media (max-width: 767px) {
            text-align: left;
          }
        }
        .pcode {
          color: #946134;
        }
      }
      .contact.soji{
        width: 40%;
        @media (max-width: 767px) {
          width: 100%;
        }
        p{
          @include fontsize(18);
        }
      }
      .contact.middle {
        width: 50%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      
      li {
        border-bottom: solid 1px #eabd50;
        padding: 9px 0;
        &:first-child {
          padding-top: 0;
          padding-bottom: 9px;
        }
      }
    }
    
    #access {
      width: 48%;
      @media (max-width: 955px) {
        width: 100%;
      }
      padding-bottom: 48px;
      #google_map_area {
        width: 100%;
        height: 248px;
        margin-bottom: 16px;
      }
      p {
        @include fontsize(15);
        line-height: 26.5/15;
      }
    }
  }//#cv
}//main

footer.container {
  background-color: #fae053;
  padding-top: 13px;
  .wrap {
    .flex_container {
      @include display-flex;
      justify-content: space-between;
      @include flex-direction(row);
      @include flex-wrap(wrap);
      //@include align-items(flex-end);
    }
    .logo {
      width: 30%;
      img {
        width: 146px;
      }
    }
    .guide {
      width: 40%;
      @include fontsize(22);
      small {
        @include fontsize(13);
      }
      ul.footer_navi_ul {
        @media (max-width: 960px) {
          display: none;
        }
        float: right;
        li {
          display: inline-block;
          margin-left: 17px;
          a {
            font-family: $garamond;
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .share {
      width: 30%;
      ul.share_ul {
        float: right;
        padding-top: 24px;
        li {
          @include fontsize(20);
          display: inline-block;
          margin-left: 17px;
        }
      }
    }
  }
  #copy {
    margin-top: 21px;
    text-align: center;
    font-family: $garamond;
    @include fontsize(10);
  }
} //footer

.breadcrumbs {
  margin-top:95px;
  padding-top:16px;
  line-height:1.2;
  @media (max-width: 425px) {
    //margin-top: 80px;
  }
  a {
    color: lighten(black, 50%);
  }
  .wrap {
    max-width: 768px;
  }
  .wrap.archive {
    max-width: 960px;
  }
}

/* 関連投稿レイアウト */
ul.related_post {
    list-style-type: none;
    list-style: none;
    margin-left: 0;
    margin-bottom: 40px;
    li {
        margin-left: 0;
        margin-bottom: 4px;
    }
}

.wp_rp_wrap h3.related_post_title {
    margin: 64px 0 16px 0 !important;
}

ul.related_post.wp_rp {
  li {
    width: 23% !important;
    overflow:hidden;
    @media (max-width: 669px) {
      width: 100% !important;
    }
    img {
      width: 100% !important;
      height: initial !important;
      max-width: initial !important;
      @include transition(transform 0.2s ease-out);
      &:hover {
        @include scale(1.1);
      }
    }
    a {
      overflow:hidden;
    }
    @media screen and (max-width: 480px) {
      a:nth-child(1) {
        float: initial !important;
      }
    }
  }
}

.wp_rp_title {
    //margin-left:16px;
    font-size:16px;
}

.catch-copy-text-small {
  font-size: 4.6rem !important;
}

.eyecatch {
  display: block;
  margin-bottom:16px;
}

.eyecatch--full {
  width: 100%;
}

.post_contents {
  padding: 0 0 24px 0;
  line-height: 2.0;
  p {
    @include fontsize(18);
    line-height: 2.0;
    text-align: justify;
    text-justify: inter-ideograph;
    margin-bottom: 8px;
    a {
        color: lighten(black, 50%);
    }
  }
  li {
    @include fontsize(18);
    margin-bottom:1rem;
    list-style-type: disc;
    margin-left:2rem;
  }
  h1, h2, h3, h4, h5 {
    line-height: 1.5;
  }
  h1,h2 {
    padding: 12px 0px;
    margin: 0 0 24px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  h3,h4,h5 {
    padding: 8px 0;
    margin: 0 0 16px 0;
    border-bottom: 1px solid black;
  }
  
  h1 {
    @include fontsize(32);
  }
  
  h2 {
    @include fontsize(28);
    margin-bottom: 16px !important;
  }
  
  h3 {
    @include fontsize(24);
  }
  
  h4 {
    @include fontsize(20);
    display: inline-block;
  }
  
  h5 {
    @include fontsize(18);
    display: inline-block;
    border:none;
  }
  
  img {
    max-width: 100%;
    height: initial;
  }
  img.alignright { display: block; margin: 0 0 0 16px; float:right;
    @media (max-width: 425px) {
      margin: 0 0 0 auto;
      float:initial;
    }
  }/* 配置位置 右 */
  img.alignleft { display: block; margin: 0 16px 0 0; float:left;
    @media (max-width: 425px) {
      margin: 0 auto 0 0;
      float:initial;
    }
  }/* 配置位置 左 */
  img.aligncenter { display: block; margin: 0 auto;
    
  }/* 配置位置 中央 */

  a {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
  }
  
}

